<%= form_with(model: itempedido) do |form| %>
  <% if itempedido.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(itempedido.errors.count, "error") %> prohibited this itempedido from being saved:</h2>

      <ul>
        <% itempedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :produto_id, style: "display: block" %>
    <%= form.text_field :produto_id %>
  </div>

  <div>
    <%= form.label :pedido_id, style: "display: block" %>
    <%= form.text_field :pedido_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
