<div id="<%= dom_id itempedido %>">
  <p>
    <strong>Valor:</strong>
    <%= itempedido.valor %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= itempedido.deleted_at %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= itempedido.produto_id %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= itempedido.pedido_id %>
  </p>

</div>
